{% macro qualityMetricWidget(params) %}
  {% set name = params.name %}
  {% set value = params.value %}
  {% set lastUpdatedAt = params.lastUpdatedAt %}
  {%- include "./template.njk" -%}
{% endmacro %}
