{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "authoring/components/multi-select/macro.njk" import multiSelect %}
{% from "authoring/components/hidden-inputs/macro.njk" import hiddenInputs %}

{% macro columnPickerForm({
  items: [],
  values: {},
  resetHref: null,
  hiddenInputFields: []
}) %}
  {% set actions %}
    <div class="govuk-button-group">
      {{ govukButton({
        text: "Apply columns",
        type: "submit",
        preventDoubleClick: true
      }) }}

      {% if resetHref %}
        <a class="govuk-link" href="{{ resetHref }}">Reset columns</a>
      {% endif %}
    </div>
  {% endset %}

  <form>
    {{ multiSelect(
      name = 'columns[]',
      label = 'Columns',
      values = values,
      items = items,
      slots = {
        afterFieldset: actions | safe
      }
    ) }}

    <input name="columnPickerApplied" value="true" hidden />

    {{ hiddenInputs(fields = hiddenInputFields) }}
  </form>
{% endmacro %}
