{%- from "govuk/components/input/macro.njk" import govukInput -%}
{%- from "govuk/components/details/macro.njk" import govukDetails -%}
{%- from "moj/components/filter/macro.njk" import mojFilter -%}
{%- from "authoring/components/multi-select/macro.njk" import multiSelect -%}
{%- from "authoring/components/numeric-range/macro.njk" import appNumericRange -%}
{%- from "authoring/components/date-range-picker/macro.njk" import appDateRangePicker -%}
{%- from "authoring/components/hidden-inputs/macro.njk" import hiddenInputs -%}

{# TODO-IMPLEMENT: MOJ-39 | Should be implemented #}
{# TODO-IMPLEMENT: MOJ-39 | Avoid hard-coded items where enums might be used #}

{% macro dataProductsFilter({
  options: null,
  values: null,
  selectedFiltersCategories: [],
  clearFiltersHref: '',
  hiddenInputFields: []
}) %}
  {% set hrClass = "govuk-section-break govuk-section-break--m govuk-section-break--visible" %}

  {% set qualityMetricsHint = 'From 0 to 100' %}

  {% set qualityMetricsHtml %}
    {{ appNumericRange(
      name = 'filters[accuracy]',
      label = 'Accuracy',
      from = { value: values.accuracy.from },
      to = { value: values.accuracy.to },
      hint = qualityMetricsHint
    ) }}
    {{ appNumericRange(
      name = 'filters[consistency]',
      label = 'Consistency',
      from = { value: values.consistency.from },
      to = { value: values.consistency.to },
      hint = qualityMetricsHint
    ) }}
  {% endset %}

  {% set datesHtml %}
    {{ appDateRangePicker(
      name = 'filters[createdAt]',
      label = 'Created Date',
      from = { value: values.createdAt.from },
      to = { value: values.createdAt.to }
    ) }}
    {{ appDateRangePicker(
      name = 'filters[updatedAt]',
      label = 'Modified Date',
      from = { value: values.updatedAt.from },
      to = { value: values.updatedAt.to }
    ) }}
    {{ appDateRangePicker(
      name = 'filters[lastPreviewedAt]',
      label = 'Previewed Date',
      from = { value: values.lastPreviewedAt.from },
      to = { value: values.lastPreviewedAt.to }
    ) }}
  {% endset %}

  {% set filterOptionsHtml %}
    {{ govukInput({
      name: "filters[search]",
      value: values.search,
      label: {
        text: "Search",
        classes: "govuk-label--s"
      }
    }) }}

    {{ govukInput({
      name: "filters[owner]",
      value: values.owner,
      label: {
        text: "Owner",
        classes: "govuk-label--s"
      }
    }) }}

    {{ govukInput({
      name: "filters[version]",
      value: values.version,
      label: {
        text: "Version",
        classes: "govuk-label--s"
      }
    }) }}

    <hr class="{{ hrClass }}">

    {{ govukDetails({
      summaryText: "Quality metrics",
      html: qualityMetricsHtml
    }) }}

    <hr class="{{ hrClass }}">

    {{ multiSelect(
      name = 'filters[states][]',
      values = values.states,
      label = 'States',
      items = options.states
    ) }}

    <hr class="{{ hrClass }}">

    {{ multiSelect(
      name = 'filters[tags][]',
      values = values.tags,
      label = 'Tags',
      items = options.tags
    ) }}

    <hr class="{{ hrClass }}">

    {{ govukDetails({
      summaryText: "Dates",
      html: datesHtml
    }) }}
  {% endset %}

  <form>
    {{ mojFilter({
      heading: {
        text: "Filter"
      },
      selectedFilters: {
        heading: {
          text: 'Selected filters'
        },
        clearLink: {
          text: 'Clear filters',
          href: clearFiltersHref
        },
        categories: selectedFiltersCategories
      } if selectedFiltersCategories | length,
      optionsHtml: filterOptionsHtml
    }) }}

    {{ hiddenInputs(fields = hiddenInputFields) }}
  </form>
{% endmacro %}
