{%- from "govuk/components/button/macro.njk" import govukButton %}
{%- from "moj/components/button-menu/macro.njk" import mojButtonMenu -%}

{%
  macro dataProductActions({
    actions: null,
    csrfToken: null
  })
%}
  <form id="{{ actions.actionsFormId }}" method="post">
    <input name="_csrf" value="{{ csrfToken }}" hidden />
  </form>

  <div class="moj-button-group">
    {{ govukButton(actions.primaryAction) }}

    {{
      mojButtonMenu({
        button: {
          text: "More actions",
          classes: "govuk-button--secondary"
        },
        items: actions.secondaryActions
      })
    }}
  </div>
{% endmacro %}
