{%- from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs -%}

{%- macro breadcrumbs({
  items: [],
  routeDefinitions: null
}) -%}

  {%- set allItems = [{ text: "Home", href: routeDefinitions.home.createUrl() }].concat(items) -%}

  {{ govukBreadcrumbs({
    classes: "govuk-!-display-none-print",
    collapseOnMobile: true,
    items: allItems
  }) }}
{%- endmacro %}


