@use '../foundation/base';
@use '../foundation/animations';
@use '../foundation/z-index';

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: z-index.get-z-index('overlay');
  opacity: 0;
  visibility: hidden;
  transition: visibility animations.$animation-time, opacity animations.$animation-time;

  &__backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(base.govuk-colour("white"), 0.5);
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  &[data-visible="true"] {
    opacity: 1;
    visibility: visible;
  }
}
