@use "sass:math";
@use "../foundation/base";

$dotsCount: 12;
$animation-duration: 1200ms;
$dot-animation-delay-step: math.div($animation-duration, $dotsCount);

@keyframes app-spinner-dot-animation {
  0%, 20%, 80%, 100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }
}

.app-spinner {
  width: 5rem;
  color: base.govuk-colour("light-blue");

  &__dot {
    fill: currentColor;
    transform-box: fill-box;
    transform-origin: center;
    animation: app-spinner-dot-animation $animation-duration linear infinite;

    @for $dotIndex from 0 through $dotsCount {
      &:nth-child(#{$dotIndex}) {
        animation-delay: -($dot-animation-delay-step * ($dotIndex - 1));
      }
    }
  }
}
