{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{% macro serviceNavigation(serviceNavigationItems) %}
  {{
    govukServiceNavigation({
      navigation: serviceNavigationItems
    })
  }}
{% endmacro %}
