{%
  macro appNewIndicator({
    classes: ''
  })
%}
  <div class="{{ classNames('app-new-indicator', classes) }}">
    <div class="app-new-indicator__pulsating-dot"></div>
    <div class="app-new-indicator__dot"></div>
  </div>
{% endmacro %}
