{%- from "govuk/components/tag/macro.njk" import govukTag -%}

{% macro dataProductStateTag(state) %}
  {{
    govukTag({
      classes: "govuk-tag--" + CONSTANTS.dataProductStateTagColourMap[state],
      text: CONSTANTS.dataProductStateLabelMap[state]
    })
  }}
{% endmacro %}
